* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
.container {
  margin-top: 20px;
  max-width: 600px;
}

.heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background: #fc891d;
}

.content {
    padding: 10px;
    background: #f3a260;
    animation: stickyHeader 1s ease forwards;
}

@keyframes stickyHeader {
    0% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0);
    }
}


